body {
  font-family: Arial, sans-serif;
  font-size: small;
}

.error {
  color: red;
  text-align: center;
}

.lists {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;

  > div {
    background-color: #ddd;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.dataTable {
  > h1 {
    > span {
      margin-left: 1em;
      cursor: pointer;
    }
  }
  > div {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      justify-content: space-between;
      padding: 0.2rem;
      border-bottom: 1px solid #ddd;

      &:nth-child(odd) {
        background-color: #f9f9f9;
      }

      > div {
        flex: 4;
        padding: 0.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:first-child {
          width: 5rem;
          flex: none;
        }

        &.actions {
          width: 3rem;
          flex: none;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          column-gap: 0.4rem;

          > * {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem 0;

    > div {
        text-align: center;
    }
}

.groups {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;

  > div {
    background-color: #ddd;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}